@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Italics';
    src: url('/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Montserrat", sans-serif;
    --font-display: "Montserrat", sans-serif;
}